.App {

  /* border-radius: 5px; */
  padding: 3px;
  /* min-height: 300px; */
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 40px;
  width: 100%;
  max-width: 600px;
  color: #0f0621;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
}

#active-remaining-todos {
  margin-bottom: 50px;
  text-align: right;
  font-size: 1.5em;
}