.App {
  padding: 3px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 40px;
  width: 100%;
  min-height: 100vh;
  max-width: 600px;
  color: #0f0621;
}

.hide {
  display: none !important;
}

.App-lists {
  flex: 1;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
}

#active-remaining-todos {
  margin-bottom: 50px;
  text-align: right;
  font-size: 1.5em;
}

#delete-all-completed {
  margin-bottom: -20px;
  align-self: flex-end;
  padding: 12px 16px;
  border: none;
  background: #790201;
  color: #bdafd9;
}

footer {
  padding: 20px 0;
}

footer a {
  color: #bdafd9;
}

footer a:hover {
  color: #0f0621;
}

@media screen and (max-width: 768px) {
  .App {
    width: 96%;
  }
}