.todo {
  display: flex;
  border-bottom: 1px solid #3d1a88;
  overflow: hidden;
}

.todo-txt {
  flex: 4;
  text-align: left;
  padding-left: 5px;
}

.edit-todo-btn {
  background-color: #bdafd9;
}

.edit-todo-btn:hover {
  background-color: #A99CC2;
}

.delete-todo-btn {
  background: #790201;
  color: #bdafd9;
}
.delete-todo-btn:hover {
  background: #6A0403;
}

.Todo-btn {
  padding: 0 12px;
  border: 0;
}

.Todo-edit-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Todo-edit-form input {
  flex: 8;
  font-size: inherit;
  padding: 16px 30px;
  border: none;
  width: 100%;
  background-color: white;
}
.Todo-edit-form button {
  flex: 1;
  border: none;
  color: #2f1469;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 9px 10px;
}

/* @keyframes slide-in {
 from {
   width: 0;
 }
 to {
   width: 60px;
 }
}

.todo:hover .delete-todo-btn {
  display: block;
  animation-name: slide-in;
  animation-duration: 0.1s;
} */

.completed-btn {
  align-self: center;
  margin-left: 8px;
  font-size: inherit;
}

.urgency-rating {
  font-size: 1.2em;
  color: #2f1469;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.completed-list .todo-txt {
  text-decoration: line-through;
}

.completed-list .todo-txt,
.completed-list .urgency-rating {
  color: #bdafd9;
}