#add-todo {
  display: flex;
}

#add-todo-form {
  width: 100%;
  display: flex;
}

#add-todo-form input {
  flex: 8;
  font-size: inherit;
  padding: 8px;
  border: none;
  width: 100%;
  height: 100%;
}

#add-todo-form button {
  flex: 1;
  border: none;
  background-color: #2f1469;
  color: white;
  height: 100%;
  width: 100%;
}

.error-msg {
  color : #790201;
  background: rgba(205, 182, 255, 0.2);
  padding: 10px 0;
  font-weight: bold;
}