#add-todo {
  display: flex;
  flex-direction: column;
}

#add-todo-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#add-todo-form input {
  flex: 8;
  font-size: inherit;
  padding: 8px;
  border: none;
  width: 100%;
}

#add-todo-form button {
  flex: 1;
  border: none;
  background-color: #2f1469;
  color: white;
  height: 100%;
  width: 100%;
  padding: 9px 10px;
}

.error-msg {
  color : #790201;
  background: rgba(205, 182, 255, 0.2);
  padding: 10px 0;
  font-weight: bold;
}